*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e7e7e7;
}
#hero-history {
  margin-top: 70px;
  margin-bottom: 150px;
}

.hero-history {
  background-color: #242424 !important;
  height: 60vh;
  margin-top: 70px;
  display: grid;
  position: relative;
  box-sizing: border-box;

  z-index: 10;
}
#app {
  /* // opacity: 0 !important; */
  /* // visibility: hidden; */

  z-index: 50;
}
#app {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background: #ede8e2; */
  color: #fff;
}
#app::after {
  content: '';
  position: absolute;
  height: 90%;
  width: 40%;
  right: 10%;
  bottom: -10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../Assets/project/8.jpg);
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.4);
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 2s backwards;
}
/*  */

#app .title {
  padding-left: 1em;
  grid-column: 1 / -1;
  grid-row: 1;
  font-size: 40px;
  font-weight: 700;
  width: 100%;
  z-index: 2;
}

@keyframes text-clip {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.judul1,
.judul2,
.judul3 {
  animation: text-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}
.judul3 {
  color: #1e90ff;
}

@keyframes image-in {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/*  */
.line {
  margin-top: 50px;
  border: 1px solid #242424;
}
/* history */
.judul_history h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  padding: 30px 0;
  color: #242424;
}
.paragraf p {
  font-size: 18px;
  text-align: left;
  font-weight: 500;
  color: #242424;
  padding: 30px;
}
.paragraf span {
  font-weight: 700;
}

/* applies to small devices (landscape phones, less than 768px) */

@media (max-width: 991.98px) {
  #app {
    align-items: flex-start;
  }
  #app .title {
    font-size: 32px;
    margin-top: 50px;
  }
  #app::after {
    width: 80%;
    height: 60%;
    left: 10%;
    right: 10%;
    bottom: -10%;
  }
}
@media (max-width: 767.98px) {
  #app .title {
    font-size: 25px;
    margin-top: 20px;
  }
  .judul_history h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 30px 0;
    color: #242424;
  }
  #app::after {
    width: 100%;
    height: 60%;
    left: 0;
    bottom: -10%;
  }

  .paragraf p {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #242424;
    padding: 0 20px;
  }
  .paragraf span {
    font-weight: 700;
  }
}
